[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-bg: #27594b;
    --bs-body-color: #fff;
    --bs-emphasis-color: #fff;
}

.btn-primary {
    --bs-btn-bg: #5B3E34;
    --bs-btn-border-color: #503025;
    --bs-btn-hover-bg: #5B3E34;
    --bs-btn-hover-border-color: #503025;
    --bs-btn-active-bg: #5B3E34;
    --bs-btn-active-border-color: #503025;
    --bs-btn-disabled-bg: #5B3E34;
    --bs-btn-disabled-border-color: #503025;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background: #27594B;
    background-image: url("../assets/backgrounds/flower-bg.svg");
    background-size: cover;
}

.vh-100 {
    min-height: 100vh;
}

.paper {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    background-image: url("../assets/backgrounds/so-white.png");
}

#hero-logo {
    width: 60%;
}

#carousel {
    transform: rotate(-2deg);
}

.svg-item svg {
    width: 96% !important;
    height: 96% !important;
}